@define-color background rgba(30, 30, 46, 0.5);
@define-color accent #A6E3A1;
@define-color text #89B4FA;
@define-color green #26A65B;
@define-color red #f53c3c;
@define-color inactive #737984;


window#waybar {
  /* background: @background; */
  background: none;
  color: @text;
  font-family: "JetBrainsMono", "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 16px;
}

/* Workspace Buttons */
#workspaces {
  background: none;
}

#workspaces button label {
  color: @accent;
}

#battery.charging {
  color: @green;
}

#battery.critical {
  color: @red;
}

@keyframes blink {
  to {
    color: @text;
  }
}

#battery.warning:not(.charging) {
  color: @red;
  animation: blink 0.5s steps(12) infinite alternate;
}

#clock,
#battery,
#pulseaudio,
#tray,
#network,
#bluetooth,
#custom-tailscale,
#custom-weather {
  margin: 2px 5px;
  padding: 0 5px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 2px 0;
  padding: 0 4px;
  background: @background;
  border-radius: 15px;
}

#custom-tailscale {
  color: @text;
}

#custom-tailscale.disconnected {
  color: @inactive;
}
